name: Publish binary
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
jobs:
  build:
    name: Build binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
        exclude:
          - goos: windows
            goarch: arm64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true
      - run: go mod download
      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
        run: |
          BINARY_NAME=pad

          if [ "${{ matrix.goos }}" = "windows" ]; then
            BINARY_NAME="pad.exe"
          fi

          go build -ldflags="-s -w" -o "$BINARY_NAME" main.go

          ARCHIVE_NAME="pad-${{ matrix.goos }}-${{ matrix.goarch }}"

          if [ "${{ matrix.goos }}" = "windows" ]; then
            zip -r "$ARCHIVE_NAME.zip" dist/
            echo "ASSET_PATH=$ARCHIVE_NAME.zip" >> $GITHUB_ENV
          else
            tar -czvf "$ARCHIVE_NAME.tar.gz" dist/
            echo "ASSET_PATH=$ARCHIVE_NAME.tar.gz" >> $GITHUB_ENV
          fi
      - uses: actions/upload-artifact@v6
        with:
          name: pad-${{ matrix.goos }}-${{ matrix.goarch }}
          path: ${{ env.ASSET_PATH }}
          retention-days: 5
  publish:
    name: Publish Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v6
      - name: Download all artifacts
        uses: actions/download-artifact@v7
        with:
          path: ./artifacts
          pattern: pad-*
          merge-multiple: true
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./artifacts/pad-*
          generate_release_notes: true
